.back-button {
    padding-top:25px;
    padding-left: 15px;

    a, a:hover {
        text-decoration: none;
        color: white;
    }

}

.btn {
    border-radius: 25px;
}

.btn-addEvent {
    width: 98%;
    border-radius: 5px;
    margin-bottom: 10px;
}
