.comments {
    margin-top:25px;

    .comment {
        display: flex;
        border: 1px solid #e1e4e8;
        padding: 10px 25px 10px 25px;
        border-radius: 25px;
        margin-top: 10px;

        background-color: white;
        -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%);

        .autor {

        }

        .content {

            .replies {
                cursor: pointer;
                font-weight: bold;
            }
        }

        .buttons {
            margin-left: auto;

            #reply {
                cursor: pointer;
                color: #3d3d3d;
            }

            #options {
                cursor: pointer;
                color: #3d3d3d;
            }
        }
    }

    .replies-content {
        display: none;
        overflow: hidden;
        padding-top: 15px;

        div {
            padding-top: 10px;
        }

        .reply-item {
            display: flex;
            flex-direction: row;

            .reply-author {

            }

            .reply-content {

            }
        }
    }
}

#add-comment-form {
    margin-top: 25px;
}

#reply-form {
    display: none;
    overflow: hidden;
}


.tox-tinymce {
    border-radius: 25px !important;
    padding: 5px 25px;
    background-color: white;
}

.add-reply, #add-comment {
    border-radius: 25px;
    padding: 10px 35px;
}
