.course-posts {
    margin-top:25px;
    border: 1px solid $light-grey-border;
    border-radius: 6px;
    overflow: hidden;



    .course-post {
        width:100%;
        border-top: 1px solid $light-grey-border;
        padding: 15px;
        margin-left: 0px;

        &-content {
            padding: 0 0px;
            background-color: white;
            display: none;
            overflow: hidden;
        }

        &-header {
            width:100%;
            padding: 15px;
            margin-left: 0px;
            background-color: $light-grey;
        }

        &:hover{
            cursor: pointer;
            background-color: $light-grey;
        }
    }

    .post-type {
        width: 25px;
        padding: 5px 10px;
        background-color: aqua;
        border-radius: 2em;
    }

    .posts-header {
        font-weight: bold;
    }

}

.post-link-container {
    border-top: 1px solid $light-grey-border;
    padding:10px;
}

.post-link {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.post-link:hover {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.post {

    margin-top:25px;
    border: 1px solid $light-grey-border;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;

    -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%);

    .post-title {
        width:100%;
        padding: 15px 25px 0px;
        margin-left: 0px;
        background-color: white;

        p {
            border-bottom: 1px solid $light-grey-border;
            padding-bottom: 25px;
        }
    }


}

.post-content {
    width:100%;
    padding: 0px 25px 15px;
    margin-left: 0px;
    background-color: white;
}

.border-left {
    border-left: 1px solid $light-grey-border;
}

.list {
    margin-top: 25px;

    ul {
        padding-inline-start: 0px !important;

        li {
            list-style: none;
            font-size: 26px;
            padding: 15px 15px 15px 15px;

            &:hover {
                background-color: $light-grey;
                cursor: pointer;
            }

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    background-color: $light-grey;
                }
            }
        }
    }
}


.replies {

    &-content {
        //border-bottom: 1px solid #e1e4e8;
    }
}


.post-files {
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid $light-grey-border;
    padding-bottom: 15px;

    &-header {
        padding-top: 15px;
    }

    .post-file {
        margin-bottom: 0rem;
    }
}

.course-upper-menu {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    .active-btn {
        border: 2px solid black;
        border-radius: 25px;
    }

    div {
        cursor: pointer;
        padding: 10px 35px;
        font-size: 26px;
        border: 1px solid $light-grey-border;
        margin-right: 15px;
        transition: transform 0.5s;
        border-radius: 25px;

        &:hover {
          transform: translate(0px, -2px);
          transition: transform 0.5s;
        }
    }



}

.posts-pagination {
    margin-top: 25px;
}
