.course-posts {
    margin-top:25px;
    border: 1px solid $light-grey-border;
    border-radius: 6px;
    overflow: hidden;

    .course-post-header-compact {
        width:100%;
        padding: 5px;
        margin-left: 0px;
        background-color: $light-grey;
    }

    .course-post-compact {
        width:100%;
        border-top: 1px solid $light-grey;
        margin-left: 0px;
    }

    .posts-header {
        font-weight: bold;
    }

}

.post-link {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.post-link:hover {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.course-post-compact:hover {
    background-color: $light-grey;
}

