.multimsg-upper-menu {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .active-btn {
        border: 2px solid black;
    }

    div {
        cursor: pointer;
        padding: 10px 35px;
        font-size: 26px;
        border: 1px solid $light-grey-border;
        margin-right: 15px;
        transition: transform 0.5s;

        &:hover {
          transform: translate(0px, -2px);
          transition: transform 0.5s;
        }
    }
}
