.course-posts {
    margin-top:25px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    overflow: hidden;



    .course-post {
        width:100%;
        border-top: 1px solid #e1e4e8;
        padding: 15px;
        margin-left: 0px;

        &-content {
            padding: 0 0px;
            background-color: white;
            display: none;
            overflow: hidden;
        }

        &-header {
            width:100%;
            padding: 15px;
            margin-left: 0px;
            background-color: #f6f8fa;
        }
    }

    .post-type {
        width: 25px;
        padding: 5px 10px;
        background-color: aqua;
        border-radius: 2em;
    }

    .posts-header {
        font-weight: bold;
    }

}

.post-link-container {
    border-top: 1px solid #e1e4e8;
    padding:10px;
}

.post-link {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.post-link:hover {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.course-post:hover {
    background-color: #f6f8fa;
}

.post {

    margin-top:25px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    overflow: hidden;

    .post-title {
        width:100%;
        padding: 15px;
        margin-left: 0px;
        background-color: #f6f8fa;
    }


}

.post-content {
    width:100%;
    border-top: 1px solid #e1e4e8;
    padding: 18px;
    margin-left: 0px;
}

.border-left {
    border-left: 1px solid #e1e4e8;
}

.list {
    margin-top: 25px;

    ul {
        padding-inline-start: 0px !important;

        li {
            list-style: none;
            font-size: 26px;
            padding: 15px 15px 15px 15px;

            &:hover {
                background-color: #f6f8fa;
                cursor: pointer;
            }
        }
    }
}
